.u-section-1 .u-sheet-1 {
  min-height: 1801px;
}

.u-section-1 .u-shape-1 {
  width: 519px;
  height: 228px;
  margin: 1px 51px 0 auto;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: -1724px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1800px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0 6px;
}

.u-section-1 .u-image-1 {
  width: 383px;
  height: 587px;
  margin: 29px auto 0 10px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  margin: -606px 27px 0 439px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 67px 0 479px;
}

.u-section-1 .u-image-2 {
  width: 618px;
  height: 299px;
  margin: 210px 69px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: -507px 32px 0 416px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  font-style: italic;
  margin: -237px 809px 0 72px;
}

.u-section-1 .u-text-5 {
  font-style: italic;
  font-weight: 700;
  font-size: 1rem;
  margin: 77px 398px 0 23px;
}

.u-section-1 .u-group-1 {
  width: 345px;
  min-height: 334px;
  margin: -217px 43px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 12px 22px 0;
}

.u-section-1 .u-text-7 {
  font-size: 2.25rem;
  margin: -62px 72px 0 39px;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 42px 79px 0 32px;
}

.u-section-1 .u-image-3 {
  width: 482px;
  height: 262px;
  margin: -321px auto 0 23px;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 700;
  margin: -215px 59px -1389px 587px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1687px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 27px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 990px;
    margin-top: -1650px;
    margin-right: -50px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1686px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 9px;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    width: 338px;
    height: 512px;
    margin-top: 58px;
    margin-left: 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -560px;
    margin-right: 56px;
    margin-left: 375px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-right: 41px;
    margin-left: 355px;
  }

  .u-section-1 .u-image-2 {
    width: 490px;
    height: 219px;
    margin-top: 251px;
    margin-right: 101px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -459px;
    margin-right: 53px;
    margin-left: 372px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -280px;
    margin-right: 663px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 103px;
    margin-right: 386px;
    margin-left: 10px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 315px;
    margin-top: -240px;
    margin-right: 46px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 2px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 27px;
    margin-left: -19px;
    margin-right: -19px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 0;
    margin-right: 9px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 0;
    margin-right: 95px;
    margin-left: 42px;
  }

  .u-section-1 .u-image-3 {
    width: 384px;
    height: 234px;
    margin-top: -271px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin: -182px 38px -1370px 449px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5540px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 51px;
    margin-left: 226px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -5199px;
    margin-right: calc(((100% - 1140px) / 2) + 127px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 5454px;
    margin-right: -31px;
    margin-left: 161px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 126px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 155px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 1660px;
    margin-right: 443px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: 413px;
    margin-left: 0;
    margin-right: 126px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -2403px;
    margin-left: 126px;
  }

  .u-section-1 .u-text-6 {
    width: 720px;
    margin-top: 1867px;
    margin-right: 52px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 757px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: -516px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 267px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 24035px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: 21px;
    margin-left: 46px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 10426px;
    margin-right: calc(((100% - 1140px) / 2) + 217px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + 217px);
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: 50px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 8830px;
    margin-right: 263px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -8787px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -240px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    width: 540px;
    margin-top: 10817px;
    margin-right: -19px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 832px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1596px;
  }

  .u-section-1 .u-shape-1 {
    height: 261px;
    margin-top: 1304px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -1565px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1424px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    height: 263px;
    width: 182px;
    margin-top: 15px;
    margin-right: auto;
    margin-left: -12px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.625rem;
    margin-top: -270px;
    margin-right: 0;
    margin-left: 170px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-left: 160px;
  }

  .u-section-1 .u-image-2 {
    height: 111px;
    width: 170px;
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.625rem;
    margin-top: 34px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.625rem;
    margin-top: -408px;
    margin-right: 181px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.625rem;
    margin-top: 178px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-group-1 {
    width: 244px;
    min-height: 186px;
    margin-top: 0;
    margin-right: auto;
    margin-left: 38px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 29px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 27px;
    margin-right: 31px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.25rem;
    width: 240px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.625rem;
    margin-top: 0;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-image-3 {
    height: 207px;
    margin-top: -175px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-9 {
    font-size: 0.625rem;
    margin: 18px 15px 42px;
  }
}