.u-section-1 .u-sheet-1 {
  min-height: 2619px;
}

.u-section-1 .u-image-1 {
  width: 401px;
  height: 401px;
  filter: brightness(0.85);
  background-image: url("images/55e1dc404954a414f6da8c7dda793678153bdee757596c48732f72dc9445c15ebf_1280.png");
  background-position: 50% 50%;
  margin: 21px -39px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 258px;
  height: 207px;
  filter: brightness(0.85);
  margin: -412px auto 0 11px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-style: italic;
  margin: -151px 213px 0 290px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 78px 30px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 51px 30px 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 251px 0 28px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 23px 482px 0 69px;
}

.u-section-1 .u-image-3 {
  width: 386px;
  height: 495px;
  filter: brightness(0.9);
  margin: -213px 19px 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: -469px 40px 0 756px;
}

.u-section-1 .u-image-4 {
  width: 250px;
  height: 129px;
  margin: -20px 28px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 274px;
  height: 274px;
  background-image: url("images/5JEgLYuy93k.jpg");
  background-position: 50% 50%;
  margin: -233px auto 0 19px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -33px 134px 0 0;
}

.u-section-1 .u-text-8 {
  font-size: 1rem;
  margin: 8px 11px 0;
}

.u-section-1 .u-text-9 {
  font-style: italic;
  font-size: 1rem;
  margin: 11px 705px 0 61px;
}

.u-section-1 .u-text-10 {
  font-size: 1rem;
  margin: 13px 19px 0;
}

.u-section-1 .u-text-11 {
  font-style: italic;
  font-size: 1rem;
  margin: 16px 774px 0 61px;
}

.u-section-1 .u-text-12 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 13px 28px 0;
}

.u-section-1 .u-image-6 {
  width: 403px;
  height: 308px;
  object-position: 0% 50%;
  margin: 16px auto 0 35px;
}

.u-section-1 .u-text-13 {
  font-size: 1rem;
  margin: -308px 19px 0 448px;
}

.u-section-1 .u-text-14 {
  font-size: 1rem;
  margin: 92px 28px 0;
}

.u-section-1 .u-shape-1 {
  width: 1118px;
  height: 645px;
  margin: -629px auto 39px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2630px;
  }

  .u-section-1 .u-image-1 {
    width: 199px;
    height: 199px;
    margin-top: 47px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: -233px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -173px;
    margin-right: 170px;
    margin-left: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 39px;
    margin-left: 44px;
    margin-right: 44px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 0;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-text-4 {
    width: 735px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 26px;
    margin-right: 438px;
    margin-left: 13px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -240px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -480px;
    margin-right: 75px;
    margin-left: 560px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -32px;
    margin-right: 13px;
  }

  .u-section-1 .u-image-5 {
    width: 230px;
    height: 230px;
    margin-top: -236px;
    margin-left: 27px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 28px;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 11px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 0;
    margin-right: 508px;
    margin-left: 58px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -5px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: 0;
    margin-right: 19px;
    margin-left: 50px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: 14px;
    margin-left: 0;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: -283px;
    margin-right: 13px;
    margin-left: 416px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 39px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -622px;
    margin-bottom: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-right: 340px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 435px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 420px;
    margin-left: 503px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 420px;
    margin-right: 420px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 420px;
    margin-right: 420px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 420px;
    margin-right: 420px;
    width: 720px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 420px;
    margin-right: 420px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 130px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 261px;
    margin-left: 477px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 420px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 927px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -1041px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 346px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 346px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 346px;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: 562px;
    margin-right: 346px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -508px;
    margin-right: 346px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 88px;
    margin-left: 209px;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-right: -39px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 267px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 540px;
    margin-left: 600px;
    width: 540px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 220px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 300px;
    margin-left: 438px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 28px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 1378px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -1491px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 166px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 166px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 166px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 887px;
    margin-right: 166px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -807px;
    margin-right: 137px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 237px;
    margin-left: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2318px;
  }

  .u-section-1 .u-image-1 {
    width: 127px;
    height: 127px;
    margin-top: 0;
    margin-right: -33px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    width: 117px;
    height: 117px;
    margin-top: -127px;
    margin-right: auto;
    margin-left: -16px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.625rem;
    margin-top: -117px;
    margin-right: 46px;
    margin-left: 86px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    margin-top: 37px;
    margin-left: -9px;
    margin-right: -9px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 11px;
    margin-right: 0;
    margin-left: 8px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.75rem;
    width: 249px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.625rem;
    margin-top: 13px;
    margin-right: 0;
    margin-left: 1px;
  }

  .u-section-1 .u-image-3 {
    width: 202px;
    height: 297px;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.625rem;
    margin-top: -285px;
    margin-right: -6px;
    margin-left: 152px;
  }

  .u-section-1 .u-image-4 {
    width: 109px;
    height: 38px;
    margin-top: 0;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    width: 137px;
    height: 137px;
    margin-top: -256px;
    margin-left: -16px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.25rem;
    margin-top: 137px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.625rem;
    margin-top: 0;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-9 {
    font-size: 0.625rem;
    margin-right: -33px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-10 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 0;
    margin-right: -13px;
    margin-left: 13px;
  }

  .u-section-1 .u-text-11 {
    font-size: 0.625rem;
    margin-top: 7px;
    margin-right: -33px;
    margin-left: 33px;
  }

  .u-section-1 .u-text-12 {
    font-size: 0.75rem;
    margin-top: 17px;
    margin-right: 0;
  }

  .u-section-1 .u-image-6 {
    height: 109px;
    width: 170px;
    margin-top: 7px;
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-1 .u-text-13 {
    font-size: 0.625rem;
    margin-top: 0;
    margin-left: 13px;
  }

  .u-section-1 .u-text-14 {
    font-size: 0.625rem;
    margin-top: 6px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -639px;
    margin-bottom: 17px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}