.u-section-1 .u-sheet-1 {
  min-height: 2675px;
}

.u-section-1 .u-image-1 {
  width: 313px;
  height: 313px;
  margin: 16px auto 0 -21px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -313px 100px 0 280px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 24px 38px 0 244px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 23px 433px 0 188px;
}

.u-section-1 .u-image-2 {
  width: 405px;
  height: 305px;
  margin: -305px auto 0 723px;
}

.u-section-1 .u-image-3 {
  width: 381px;
  height: 381px;
  margin: 200px -23px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  margin: -546px 47px 0 24px;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  margin: 38px 319px 0 24px;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  margin: 74px 672px 0 24px;
}

.u-section-1 .u-image-4 {
  width: 594px;
  height: 528px;
  object-position: 45.88% 50%;
  margin: -482px 38px 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 9px 382px 0 24px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.875rem;
  width: 734px;
  margin: 21px auto 0;
}

.u-section-1 .u-text-9 {
  font-size: 1rem;
  margin: 74px 47px 0 701px;
}

.u-section-1 .u-image-5 {
  width: 613px;
  height: 514px;
  margin: -433px auto 60px 24px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2404px;
  }

  .u-section-1 .u-image-1 {
    width: 241px;
    height: 241px;
    margin-top: 0;
    margin-left: -50px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -236px;
    margin-right: 0;
    margin-left: 180px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-right: 0;
    margin-left: 162px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 59px;
    margin-right: 317px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 312px;
    height: 234px;
    margin-top: -284px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    width: 249px;
    height: 249px;
    margin-top: 267px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -457px;
    margin-right: 38px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 9px;
    margin-right: 223px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 15px;
    margin-right: 601px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: -602px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 95px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 20px;
    margin-right: 122px;
    margin-left: 84px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 42px;
    margin-right: 22px;
    margin-left: 526px;
  }

  .u-section-1 .u-image-5 {
    width: 506px;
    height: 455px;
    margin-top: -402px;
    margin-bottom: 21px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: -21px;
    margin-left: 441px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 420px;
    margin-right: 420px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 10162px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -10906px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 486px;
    margin-left: 210px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 20px;
    margin-right: 486px;
    margin-left: 210px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 328px;
  }

  .u-section-1 .u-image-5 {
    margin: 20px 0 60px 328px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2356px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 307px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 600px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 54887px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -55631px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 396px;
    margin-left: 300px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 480px;
    margin-right: 0;
    margin-left: 300px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 148px;
  }

  .u-section-1 .u-image-5 {
    margin-bottom: 21px;
    margin-left: 148px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2374px;
  }

  .u-section-1 .u-image-1 {
    width: 130px;
    height: 130px;
    margin-top: 26px;
    margin-right: auto;
    margin-left: -24px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-top: -148px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    margin-top: 8px;
    margin-right: 0;
    margin-left: 77px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.625rem;
    margin-top: 12px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-image-2 {
    width: 159px;
    height: 105px;
    margin-top: -15px;
    margin-right: 26px;
  }

  .u-section-1 .u-image-3 {
    width: 126px;
    height: 126px;
    margin-top: 438px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.625rem;
    margin-top: -556px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.625rem;
    margin-top: 0;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.625rem;
    margin-top: 63px;
    margin-right: 1px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-4 {
    height: 302px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.625rem;
    margin-top: 12px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1rem;
    margin-top: 8px;
  }

  .u-section-1 .u-text-9 {
    font-size: 0.625rem;
    margin-top: 314px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    height: 306px;
    margin-top: -490px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}